body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://images.hdqwalls.com/wallpapers/tea-pancakes-4k-ln.jpg');
    background-size: cover;
    background-position:center;

  }
  h1 {
    text-align: center;
    color:rgb(12, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(240, 15, 228, 0.952);
  }
  
  #cocktail-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    color: white;
text-shadow: 2px 2px 4px rgba(240, 15, 228, 0.952)
  }
  .cocktail-item {
    width: 200px;
    background-color:rgba(125, 127, 129, 0.901);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(240, 15, 228, 0.952);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    animation: glow 1.5s infinite alternate;
  }

  .cocktail-item h2 {
    margin-top: 0;
    border-radius: 8px;
  }

  .cocktail-item img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
  }