body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://images.hdqwalls.com/wallpapers/tea-pancakes-4k-ln.jpg');
    background-size: cover;
    background-position:center;

  }